/* navigation */
.navbar .navbar-brand {
  opacity: 0.85;
  font-size: 2rem;
  padding: 5px;
  letter-spacing: 2.1px;
}
.navbar-nav li {
  padding: 0px 30px;
}
.navbar-dark .navbar-nav .nav-link {
  padding: 20px 10px;
  color: white;
}

li a {
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 18px;
  margin: auto;
  letter-spacing: 2.1px;
  display: block;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #aaa;
}
@media only screen and (max-width: 1035px) and (min-width: 767px) {
  .navbar-nav li {
    padding: 10px 3px;
  }
  li a {
    font-size: 16px;
  }
}
/* end of navigation */

.quiz-box {
  width: 75%;
  margin: 5% auto;
  padding: 2%;
  padding-left: 5%;
  background-color: #eee;
  box-shadow: 3px 3px 5px 6px rgba(255, 255, 255, 0.5);
}
.quiz-box .question_number {
  font-size: 20px;
  color: slategrey;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2%;
  line-height: 25px;
}
.quiz-box .question {
  font-size: 20px;
  font-weight: 600;
  padding: 2% 0;
  line-height: 25px;
}
.quiz-box .option0,
.option1,
.option2,
.option3 {
  background-color: rgb(217, 220, 223);
  padding: 1%;
  padding-left: 3%;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 1.5%;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quiz-box .option0:hover,
.option1:hover,
.option2:hover,
.option3:hover {
  background-color: rgb(193, 198, 201);
}

.quiz-box .next_btn {
  background-color: #76dbe0;
  border-radius: 20px;
  width: 20%;
  height: 3rem;
}
.next_btn:hover {
  background-color: #a3f0f1;
}

/* footer */

.footer h4 {
  margin-top: 2em;
}
.footer .text1 {
  /* margin-top: 2em; */
  font-size: 17px;
  margin-left: -2.5em;
}
.footer .text1 li {
  padding: 1.5% 1%;
  list-style-type: none;
}
.footer .text {
  /* margin-top: 5em; */
  font-size: 17px;
}
.footer .fab,
.fas {
  font-size: 20px;
  padding-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}
.footer a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .footer .text {
    margin-top: 0.5em;
  }
  .footer .fab,
  .fas {
    margin-top: 0.5em;

    margin-bottom: 0.5em;
  }
}
/* footer end */
