/* popup */
.image{
  position:absolute;
  width: 80px;
  height:80px;
  border-radius: 50%;
  background-color: rgb(188, 188, 241);
  top: 10%;
  left: 40%;
  display: inline;
}
.btns button{
  margin-bottom: 18%;
  display: block;
  border-radius: 14%;
  height: 50px;
  width: 100px;
  background-color: #76dbe0;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  border: #76dbe0;
}
.btns{
  position: absolute;
  top: 40%;
  left: 35%;
}
.btn:hover{
  background-color: thistle;
}
.modal-content{
  
  
  width:400px;
  height:400px;
  position: absolute;
  top: 10%;
  left:100%;
  background-color:rgb(255, 255, 255);
  border-radius: 5px;
  border:1px solid rgb(214, 205, 205);
  
  
}  

/* ppopup */
/* navigation */
.navbar .navbar-brand {
  opacity: 0.85;
  font-size: 2rem;
  padding: 5px;
  letter-spacing: 2.1px;
}
.navbar-nav li {
  padding: 0px 30px;
}
.navbar-dark .navbar-nav .nav-link {
  padding: 20px 10px;
  color: white;
}

li a {
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 18px;
  margin: auto;
  letter-spacing: 2.1px;
  display: block;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #aaa;
}
@media only screen and (max-width: 1035px) and (min-width: 767px) {
  .navbar-nav li {
    padding: 10px 3px;
  }
  li a {
    font-size: 16px;
  }
}
/* end of navigation */
h3 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 60px;
  font-weight: bold;
}
.img {
  height: 140px;
  width: 140px;
  /* background-color: rgb(234, 245, 245); */
  margin: 12%;
}
.ja {
  padding-bottom: 16%;
}

@media only screen and (min-width: 767px) {
  .ja,
  .py {
    margin-left: 90%;
  }
}
@media only screen and (max-width: 765px) and (min-width: 576px) {
  .ja {
    margin-left: 90%;
  }
}

/* footer */

.footer h4 {
  margin-top: 2em;
}
.footer .text1 {
  /* margin-top: 2em; */
  font-size: 17px;
  margin-left: -2.5em;
}
.footer .text1 li {
  padding: 1.5% 1%;
  list-style-type: none;
}
.footer .text {
  /* margin-top: 5em; */
  font-size: 17px;
}
.footer .fab,
.fas {
  font-size: 20px;
  padding-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}
.footer a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .footer .text {
    margin-top: 0.5em;
  }
  .footer .fab,
  .fas {
    margin-top: 0.5em;

    margin-bottom: 0.5em;
  }
}
/* footer end */
@media only screen and (max-width: 1300px) and (min-width: 767px) {

  .modal-content{
  
  
    width:400px;
    height:400px;
    position: absolute;
    top: 10%;
    left:50%;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    border:1px solid rgb(214, 205, 205);
    
    
  } 
}
@media only screen and (max-width: 767px) and (min-width:567px) {

  .modal-content{
  
  
    width:400px;
    height:400px;
    position: absolute;
    top: 10%;
    left:25%;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    border:1px solid rgb(214, 205, 205);
    
    
  } 
}
@media only screen and (max-width: 567px) {

  .modal-content{
  
  
    width:400px;
    height:400px;
    position: absolute;
    top: 13%;
    left:18%;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    border:1px solid rgb(214, 205, 205);
    
    
  } 
}

