/* navigation */
.navbar .navbar-brand {
  opacity: 0.85;
  font-size: 2rem;
  padding: 5px;
  letter-spacing: 2.1px;
}
.navbar-nav li {
  padding: 0px 30px;
}
.navbar-dark .navbar-nav .nav-link {
  padding: 20px 10px;
  color: white;
}

li a {
  font-family: Verdana, "Geneva", sans-serif;
  font-size: 18px;
  margin: auto;
  letter-spacing: 2.1px;
  display: block;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #aaa;
}
@media only screen and (max-width: 1035px) and (min-width: 767px) {
  .navbar-nav li {
    padding: 10px 3px;
  }
  li a {
    font-size: 16px;
  }
}
/* end of navigation */
.big-box {
  width: 50%;
  margin: 5% auto;
  padding: 2%;
  padding-left: 5%;
  background-color: #eee;
  box-shadow: 3px 3px 5px 6px rgba(200, 200, 200, 0.5);
}
.big-box p,
.start_btn {
  font-size: 18px;
}
.start_btn {
  background-color: #76dbe0;
  border-radius: 20px;
  width: 30%;
  height: 3rem;
}
.start_btn:hover {
  background-color: #a3f0f1;
}

/* footer */

.footer h4 {
  margin-top: 2em;
}
.footer .text1 {
  /* margin-top: 2em; */
  font-size: 17px;
  margin-left: -2.5em;
}
.footer .text1 li {
  padding: 1.5% 1%;
  list-style-type: none;
}
.footer .text {
  /* margin-top: 5em; */
  font-size: 17px;
}
.footer .fab,
.fas {
  font-size: 20px;
  padding-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}
.footer a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .footer .text {
    margin-top: 0.5em;
  }
  .footer .fab,
  .fas {
    margin-top: 0.5em;

    margin-bottom: 0.5em;
  }
}
/* footer end */
